.title {
    font-family: 'Lobster Two', cursive;
    font-size: 48px;
    text-align: center;
}

.inputOperation {
    font-size: 38px;
    height: 32px;
    padding: 24px;
    text-align: center;
    width: 97%;
}

::placeholder {
    color: rgb(190, 190, 190);
}

.container-result {
    border: 1px solid rgb(190, 190, 190);
    margin: 50px auto 0;
    padding: 5px;
    text-align: center;
    width: 700px;
}

.result {
    font-family: 'Open Sans', sans-serif;
    font-size: 38px;
    text-align: center;
    color: grey;
}

.span-output {
    font-family: 'Lobster Two', cursive;
    font-size: 38px;
}

.version {
    color: rgb(190, 190, 190);
    font-family: 'Open Sans', sans-serif;
    margin-top: 3px;
    text-align: center;
}